body{
    color: black;
    font-size: 32px; 
    text-align: center; 
    font-family: Krona One;
    background-color: white; 
    background-image: url("./images/drone.png");
    background-repeat: no-repeat; 
    background-size: cover;
    background-attachment:scroll;
}

header{
    background-color: #6B8656 ;
    color: white; 
    font-size: 30px;
    height:180px;
    padding: 25px;
    text-align: center;
}

figure{
    border-style: solid;
    border-width: 2px;
    border-color: #C6EDA8 ;
    background-color: #C6EDA8;
    border-radius:20px;
    margin:20px 10px 20px 10px ;
    text-align: center; 
    padding: 20px;
}

button,a{
    background-color: #6B8656 ;
    color: white;
    border-radius: 30px;
    float: center;
}

form{border-style: solid;
    border-width: 2px;
    border-color: #C6EDA8 ;
    background-color: #C6EDA8;
    border-radius:20px;
    margin:20px 10px 20px 10px;
    padding: 20px;
    text-align: center;
}

input{
    background-color: white;
    border-radius: 25px;
    text-align: center;
    width: fit-content;
    border-color: white;
    
}
ul, p{
    border-radius: 20px;
    background-color: white;
    padding: 10px;
    text-align: center;
}
.href{
    color: white;

}

div{
    text-align: center;
    margin: 20px;
}